.infoSec_sec {
    max-width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-family: "Roboto", sans-serif;

}


.infoSec_secMargin {
    margin-right: 100px;
    margin-left: 100px;
}

.infoSec_secHead {
    display: flex;
    height: 150px;
    width: 100%;
    font-size: 35px;
}

.infoSec_secContent {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.infoSec_secGraphs {
    font-size: 25px;
    display: flex;
}

.infoSec_secFooter {
    font-size: 20px;
    display: flex;
}

.infoSec_sec--justCent {
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .infoSec_sec {
        height: 500px;
    }
    .infoSec_secMargin {
        margin-left: 50px;
        margin-left: 50px;
    }
    .infoSec_secHead {
        font-size: 15px;
        height: 75px;
        word-wrap: break-word;
        margin-bottom: 10%;
    }
    .infoSec_secGraphs {
        font-size: 12px;
    }
    .infoSec_secFooter {
        font-size: 9px;
    }
}