.carousel {
    font-family: "Roboto", sans-serif;
    height: 650px;
}

.carousel_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 7%;
    margin-right: 7%;
}

.carousel_relativeBox {
    position: relative;
    margin-top: 50px;
    
}

.carousel_card {

    z-index: 1;
    border-radius: 5%;
    border: 1px solid rgb(245, 245, 245);
    box-shadow: 2px 5px 2px rgb(221, 221, 221);
    margin-left: 30px;
}

.carousel_title {
    font-size: larger;
    margin-left: 5%;
    text-wrap: wrap;
}

.carousel_description {
    font-size: medium;
    margin-left: 5%;
    color: rgb(63, 63, 63);
    text-wrap: wrap;
}

.carousel_image {
    padding: 5%;
    border-radius: 7%;
    width: 90%;
}

.carousel_arrow {
    position: absolute;
    z-index: 2;
    bottom: 200px;
    left: 50px;
    border: none;
    background-image: url("./Images/arrow.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 15px;
    background-color: rgba(178, 34, 34, 0);
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
}

.carousel_arrow--left {
    left: 97%;
    transform: rotate(0deg);
    bottom: 175px
}

.carousel_title {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 50px;
}


@media screen and (max-width: 1200px) {
    .carousel_flex {
        margin-left: 4%;
        margin-right: 4%;
    }
}