.wrapper {
    scroll-behavior: smooth;
    display: grid;
    z-index: -1;
    position: fixed;
    grid-template-rows: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.wrapper_sec {
    max-width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.wrapper_secText {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: large ;
    color: aliceblue;
    margin-top: 5%;
}

.wrapper_secFlex {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 2fr;
    margin: 3%;
    padding-top: 10%;
}

.wrapper_gap {
    width: 50%;
    flex: 0 1 auto;
}

.wrapper_flexMrg {
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 20%;
    margin-right: 20%;
}

.wrapper_sec--imageS {
    height: 400px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.wrapper_secMargin {
    margin-right: 100px;
    margin-left: 100px;
}

.wrapper_secHead {
    display: flex;
    height: 150px;
    width: 100%;
    font-size: 35px;
}

.wrapper_secContent {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.wrapper_secGraphs {
    font-size: 25px;
    display: flex;
}

.wrapper_secFooter {
    font-size: 20px;
    display: flex;
}

.wrapper_sec--justCent {
    justify-content: center;
}