.imgSec_sec {
    max-width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-family: "Roboto", sans-serif;

}

.imgSec_secText {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: large ;
    color: aliceblue;
    margin-top: 5%;
}

.imgSec_secFlex {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 2fr 1fr;
    margin: 3%;
    padding-top: 10%;
}

.imgSec_gap {
    width: 50%;
    flex: 0 1 auto;
}

.imgSec_flexMrg {
    margin-top: 0;
    margin-bottom: 7%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10%;
}

@media screen and (max-width: 600px) {
    .imgSec_sec {
        height: 500px;
    }
    .imgSec_secText {
        font-size: small;
    }
    .imgSec_flexMrg {
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 50%;
    }
    .imgSec_secFlex {
        grid-template-columns: 7fr 1fr;
    }
}