.footer {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: rgb(255, 245, 245);
}

.footer_main {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(136, 136, 136);
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 3%;
}

.footer_info {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    font-size: large;
    color: rgb(136, 136, 136);
}

.footer_littleText {
    font-size: medium;
    color: rgb(194, 194, 194);
}


.footer_mediaButton {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.footer_mapButton {
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    cursor: pointer;
    text-wrap: nowrap;
}

.footer_pageMap {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:7%
}

@media screen and (max-width: 600px) {
    .footer_info {
        font-size: 7px;
        margin-bottom: 15%;
    }
    .footer_main {
        font-size: 10px;
    }
    .footer_mediaButton {
        width: 20px;
        height: 20px;
    }
    .footer_mapButton {
        font-size: 10px;
        margin-top: 8px;
    }
    .footer_littleText {
        font-size: 9px;
    }
}
